.header {
    background-color: rgb(25, 37, 70);
    color: #fff;
    padding: 0px 20px;
    height: 60px;
    width: 100%;
    /* Ensure the header spans the entire width */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 18px;
    display: flex;
    flex: 0 0 auto;
}

.navigation {
    display: flex;
}

.logo {
    width: 37px;
    display: flex;
    height: auto;
    flex: 0 0 auto;
    margin-right: -865px;
    /* Add spacing between the logo and the title */
}

.logo-img {
    width: 90%;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    object-fit: contain;
    margin-left: -2px;
    /* Adjust the margin-left to move the logo more to the left */
}

.home-link,
.about-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.home-link:hover,
.about-link:hover {
    text-decoration: underline;
}

.inputdata-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px
}

.inputdata-link:hover {
    text-decoration: underline;
}

.thres-spike-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px
}

.thres-spike-link:hover {
    text-decoration: underline;
}