.header {
    background-color: rgb(25, 37, 70);
    color: #fff;
    padding: 0px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 18px;
    flex: 1; /* Allow the title to take up remaining space */
}

.logo {
    margin-right: 10px; /* Add some spacing between the logo and the title */
}

.logo-img {
    width: 37px;
    height: auto;
}

.navigation {
    margin-left: auto; /* Push the navigation to the right */
}

.home-link,
.about-link,
.inputdata-link,
.thres-spike-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px; /* Add spacing between navigation links */
}

.home-link:hover,
.about-link:hover,
.inputdata-link:hover,
.thres-spike-link:hover {
    text-decoration: underline;
}
