.fig-report .header-container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 250px;
  font-size: 25px;
}

.fig-report .container {
  margin-left: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.fig-report .figures {
  margin-top: 20px; 
}

.fig-report .subject-number {
  font-size: 30px;
  margin-bottom: 10px; 
}

.fig-report object {
  margin-bottom: 20px; /* Add margin between images */
  max-width: 100%; /* Set maximum width to fit the container */
  max-height: 450px; /* Set maximum height */
  width: auto; /* Allow width to adjust based on height */
  height: auto; /* Allow height to adjust based on width */
  display: block; /* Ensures the image is centered within its parent container */
  margin: 0 auto; /* Centers the image horizontally */
  min-height: 400px;
}
