body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.inputdata {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 90%; /* Adjust width to 90% of the viewport width */
    max-width: 500px; /* Set maximum width to 500px */
    background: linear-gradient(45deg, rgba(5, 10, 27, 0.6), rgba(48, 98, 185, 0.69) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
    /* Adjustments for smaller devices */
    .inputdata {
        padding: 10px;
        border-width: 1px;
    }
}

@media only screen and (min-width: 768px) {
    /* Adjustments for medium-sized devices */
    .inputdata {
        padding: 30px;
    }
}

.inputdata h1 {
    align-items: center;
    text-align: center;
}

.inputdata p {
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.inputdata form {
    display: flex;
    flex-direction: column;
}

.inputdata input,
.inputdata button {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.inputdata input:focus,
.inputdata button:focus {
    outline: none;
}

.inputdata button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.inputdata button:hover {
    background-color: #0056b3;
}