.images .header-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 250px;
  font-size: 20px;
}

.images h2 {
  font-size: 35px; /* Adjust the font size as needed */
}

.images h3 {
  text-align: center;
  font-size: 35px;
}

.images p {
  font-size: 20px;
}

.images .container {
  display: flex;
  justify-content: center;
  margin-left: 250px;
}

.images .plots {
  margin: 20px;
}

.images .plots img {
  margin-bottom: 20px; /* Add margin between images */
}
