.images .header-container {
  text-align: center;
  margin-top: 70px;
  margin-left: 250px;
  margin-bottom: 20px;
  font-size: 30px;
}

.images h2 {
  font-size: 35px; /* Adjust the font size as needed */
}

.images h3 {
  font-size: 35px;
}

.images p {
  font-size: 20px;
}

.images .container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images .plots {
  margin: 20px;
}

.images .plots img {
  margin-bottom: 20px; /* Add margin between images */
  max-width: 100%; /* Set maximum width to 100% */
  height: auto; /* Maintain aspect ratio */
}

