.header-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 250px;
    font-size: 20px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    flex-wrap: wrap;
    align-items: center;
}

.plots {
    margin: 20px;
}

.plots img {
    margin-bottom: 20px;
    /* Add margin between images */
}