/* .container {
    margin-top: 70px;
    margin-left: 350px;
} */

.container {
  margin-top: 65px;
  margin-left: 450px;
  display: flex;
  flex-wrap: wrap;
  /* Allow images to wrap to the next line if needed */
  justify-content: flex-start;
  /* Align items to the start */
}

.figures {
  margin: 30px;
  /* Adjust margin between images */
  position: relative;
  /* Set position to relative to position the subject number */
}

.img-fluid {
  width: 100%;
  /* Ensure image fills its container */
}

.subject-title-container {
  text-align: center;
  /* Center align the title */
}

.subject-title {
  margin-top: 85px;
  margin-left: 170px;
  /* Add margin at the top for spacing */
}